<!DOCTYPE html>
<html lang="en">
<head>
    @*@Html.Partial("_Meta")*@
</head>
<body>

    <header>
            @*@Html.Partial("_AdminMenubar")*@
    </header>
    <div class="container-fluid">
        <div class="row" style="margin-right: 250px">
            @*@Html.Partial("_AdminNavbar")*@
            <main role="main" class="pb-3">
                @RenderBody()
            </main>

            @*@Html.Partial("_AdminFooter")*@
        </div>
    </div>

    @*@Html.Partial("_Script")*@

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>