@model Parnas.Domain.DTOs.GraphicCard.GraphicCardAddDto
@{
    ViewData["Title"] = "افزودن کارت گرافیک";
}

<h2 style="margin:10px 40px 15px 0">افزودن کارت گرافیک</h2>

<div class="box box-warning container">
    <div class="row">
        <form asp-area="Admin" asp-controller="GraphicCard" asp-action="AddGraphicCard" method="post" enctype="multipart/form-data">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-6">
                        <div class="box-header with-border">
                            <h3 class="box-title">اطلاعات کلی</h3>
                        </div>

                        <div class="box-body">
                            <!-- Base inputs -->
                            <div class="form-group">
                                <label asp-for="Title">عنوان</label>
                                <input asp-for="Title" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Brand">برند</label>
                                <input asp-for="Brand" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="Brand" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Price">قیمت</label>
                                <input asp-for="Price" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Count">تعداد</label>
                                <input asp-for="Count" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="Count" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Color">رنگ</label>
                                <input asp-for="Color" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="Color" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Dimensions">اندازه</label>
                                <input asp-for="Dimensions" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="Dimensions" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Weight">وزن</label>
                                <input asp-for="Weight" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="Weight" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Type">نوع</label>
                                <input asp-for="Type" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="Type" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="CategoryId">دسته‌بندی</label>
                                <select asp-for="CategoryId" class="form-control">
                                    <option value="1">دسته‌بندی ۱</option>
                                    <option value="2">دسته‌بندی ۲</option>
                                    <option value="3">دسته‌بندی ۳</option>
                                </select>
                            </div>                            
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="box-header with-border">
                            <h3 class="box-title">مشخصات کارت گرافیک</h3>
                        </div>

                        <div class="box-body">
                            <!-- Graphic Card specific inputs -->
                            <div class="form-group">
                                <label asp-for="GraphicCardModel">مدل کارت گرافیک</label>
                                <input asp-for="GraphicCardModel" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="GraphicCardModel" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="GPUManuFacturer">سازنده GPU</label>
                                <input asp-for="GPUManuFacturer" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="GPUManuFacturer" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="GraphicCardProccesorGeneration">نسل پردازنده کارت گرافیک</label>
                                <input asp-for="GraphicCardProccesorGeneration" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="GraphicCardProccesorGeneration" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="NumberOfGraphicCardFans">تعداد فن‌های کارت گرافیک</label>
                                <input asp-for="NumberOfGraphicCardFans" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="NumberOfGraphicCardFans" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Lighting">نورپردازی</label>
                                <input asp-for="Lighting" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="Lighting" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="MemoryType">نوع حافظه</label>
                                <input asp-for="MemoryType" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="MemoryType" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="MemorySize">حجم حافظه</label>
                                <input asp-for="MemorySize" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="MemorySize" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="MemorySpeed">سرعت حافظه</label>
                                <input asp-for="MemorySpeed" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="MemorySpeed" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="BaseFerequencyOfTheGraphicsCard">فرکانس پایه کارت گرافیک</label>
                                <input asp-for="BaseFerequencyOfTheGraphicsCard" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="BaseFerequencyOfTheGraphicsCard" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="BoostFerequensyOfTheGraphicsCard">فرکانس تقویتی کارت گرافیک</label>
                                <input asp-for="BoostFerequensyOfTheGraphicsCard" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="BoostFerequensyOfTheGraphicsCard" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="InterfaceBandWidth">پهنای باند رابط</label>
                                <input asp-for="InterfaceBandWidth" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="InterfaceBandWidth" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="CudaCore">هسته‌های CUDA</label>
                                <input asp-for="CudaCore" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="CudaCore" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="PciExpressGeneration">نسل PCI Express</label>
                                <input asp-for="PciExpressGeneration" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="PciExpressGeneration" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="DirectXInterface">رابط DirectX</label>
                                <input asp-for="DirectXInterface" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="DirectXInterface" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="OpenGLInterface">رابط OpenGL</label>
                                <input asp-for="OpenGLInterface" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="OpenGLInterface" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="HDCPSupport">پشتیبانی از HDCP</label>
                                <select asp-for="HDCPSupport" class="form-control">
                                    <option value="True">دارد</option>
                                    <option value="False">ندارد</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label asp-for="FullHdSupport">پشتیبانی از Full HD</label>
                                <select asp-for="FullHdSupport" class="form-control">
                                    <option value="True">دارد</option>
                                    <option value="False">ندارد</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label asp-for="K4Support">پشتیبانی از 4K</label>
                                <select asp-for="K4Support" class="form-control">
                                    <option value="True">دارد</option>
                                    <option value="False">ندارد</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label asp-for="K8Support">پشتیبانی از 8K</label>
                                <select asp-for="K8Support" class="form-control">
                                    <option value="True">دارد</option>
                                    <option value="False">ندارد</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label asp-for="MaximumResolution">حداکثر رزولوشن</label>
                                <input asp-for="MaximumResolution" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="MaximumResolution" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="SupportedDisplay">نمایشگرهای پشتیبانی‌شده</label>
                                <input asp-for="SupportedDisplay" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="SupportedDisplay" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="HdmiOutPutOfTheGraphicCard">خروجی HDMI کارت گرافیک</label>
                                <input asp-for="HdmiOutPutOfTheGraphicCard" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="HdmiOutPutOfTheGraphicCard" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="DisplayPortOutputOfTheGraphicCard">خروجی DisplayPort کارت گرافیک</label>
                                <input asp-for="DisplayPortOutputOfTheGraphicCard" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="DisplayPortOutputOfTheGraphicCard" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="GraphicsCardCooler">خنک‌کننده کارت گرافیک</label>
                                <input asp-for="GraphicsCardCooler" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="GraphicsCardCooler" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Slot">اسلات</label>
                                <input asp-for="Slot" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="Slot" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="PowerConnector">کانکتور برق</label>
                                <input asp-for="PowerConnector" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="PowerConnector" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="RecommendedPower">توان پیشنهادی</label>
                                <input asp-for="RecommendedPower" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="RecommendedPower" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-5">
                <div class="container">
                    <div class="form-group">
                        <label asp-for="Description">توضیحات </label>
                        <textarea asp-for="Description" class="form-control" placeholder=""></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div style="margin-top: 15px">
                        <img id="main-image" src="" style="width:350px;height:350px; border-radius:10px; display: none;" />
                    </div>
                    <div class="container-fluid" style="margin-top: 15px" id="image-gallery"></div>
                </div>
                <div class="text-center" style="margin-top:15px">
                    <button type="button" class="btn btn-success" id="add-images-btn">افزودن تصاویر</button>
                    <input asp-for="Images" type="file" id="file-input" multiple accept="image/*" style="display: none;">
                    <input type="submit" class="btn btn-primary" value="ارسال">
                </div>
            </div>
        </form>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#add-images-btn').on('click', function () {
                    $('#file-input').click();
                });

                $('#file-input').on('change', function () {
                    const files = this.files;
                    const maxImages = 4;
                    let currentImages = $('#image-gallery img').length;

                    // بررسی تعداد تصاویر جدیدی که کاربر می‌تواند اضافه کند
                    const newImagesCount = Math.min(files.length, maxImages - currentImages);

                    if (newImagesCount === 0) {
                        alert('تعداد عکس‌ها حداکثر باید ۴ تا باشد.');
                        return;
                    }

                    // اضافه کردن تصاویر جدید به گالری
                    for (let i = 0; i < newImagesCount; i++) {
                        const file = files[i];
                        const reader = new FileReader();
                        reader.onload = (function (file) {
                            return function (e) {
                                // ایجاد عنصر جدید برای تصویر
                                const newImage = $('<img>', {
                                    class: 'gallery-image',
                                    src: e.target.result,
                                    style: 'width:70px;height:70px; border-radius:10px; margin: 5px;'
                                });
                                $('#image-gallery').append(newImage);

                                // نمایش تصویر بزرگ
                                $('#main-image').attr('src', e.target.result).show();
                            };
                        })(file);
                        reader.readAsDataURL(file);
                    }
                });

                // برای تغییر تصویر بزرگ هنگام کلیک بر روی تصاویر گالری
                $(document).on('click', '.gallery-image', function () {
                    const src = $(this).attr('src');
                    $('#main-image').attr('src', src);
                });
            });
        </script>
    </div>
</div>
