<div class="row">
    <div class="col-md-5 text-white">
        <h4>
            اولین بودیم، بهترین می مانیم
        </h4>
        <p>
            پی سی ماد از سال 1393 در کنار شماست تا رویای داشتن سیستم های گیمینگ و رندرینگ با استاندارد جهانی را به واقعیت بدل کند! سال 2017 به لطف اعتماد و حمایت های شما موفق به کسب رتبه اول در مسابقات جهانی کیس مادینگ MSI در دو رشته کیس ماد و اسکرچ بیلد شدیم. در این سال ها انتظار ارائه خدمات به برند های بین المللی ، گیمرها و استریمر های محبوب شما و متخصصین و چهره های برجسته از گروه های مختلف نظیر تدوینگران ، عکاسان ، معماران و طراحان داخلی و … هدیه ما به شما بوده است. فروش انواع سیستم های کامپیوتری تخصصی و عمومی با کاربری های گوناگون از گیمینگ تا سرورهای پردازشی با تمامی بودجه ها را با بالاترین استاندارد جهانی از سال 95 عهده دار شدیم تا بتوانیم مهارتی که بدست آوردیم در اختیار کاربران حرفه ای ایران قرار دهیم.
        </p>
    </div>
    <div class="col-md-7">
        <img src="~/img/TeamPic.png" />
    </div>

</div>
<div class="row">
    <h3 class="text-center text-white">
        قدردان همراهی شما هستیم

    </h3>
    <h4 class="text-center text-white">
        بزرگترین افتخار ما، اعتماد شماست!

    </h4>
</div>

<div class="row ">
    <video class="border" autoplay >
        
        <source src="~/img/1af307df80b4f7dc753e56dc08add86e54482106-480p.mp4" type="video/mp4">
        
    </video>
</div>
<br/>
<div class="row">

    <div class="col-md-3 text-center text-white">
        <img src="~/img/First-Level.png" />
        <h6>مشاوره</h6>
        <p>
            در ارائه مشاوره به شما ، مشاورین حرفه‌ای مجموعه همواره دانش خود را به کار می گیرند تا با در نظر گرفتن کاربری و نیازهای شما سیستمی تخصصی و مناسب به شما معرفی کنیم تا در سال های پیش رو یک همراه مطمئن برای شما باشد.

        </p>
        <h4 class="text-danger">
            برای مشاوره شما عجله نمی کنیم

        </h4>
    </div>
    <div class="col-md-3 text-center text-white">
        <img src="~/img/Second-Level.png" />
        <h6 >اسمبل</h6>
        <p>
            ساعت های زیادی صرف آموزش نیروهای متخصص کرده ایم تا در مرحله مونتاژ و اسمبل استانداردی جهانی را به مخاطبان خود ارائه دهیم تا کاربران ایرانی از این تجربه کم نظیر بهرمند باشند.

        </p>
        <h4 class="text-danger">
            با استاندارد جهانی اسمبل می کنیم
        </h4>
    </div>
    <div class="col-md-3 text-center text-white">
        <img src="~/img/Third-Level.png" />
        <h6>
             کنترل کیفی
        </h6>
        <p>
            تمامی سیستم های پی‌سی ماد مراحل تست و کنترل کیفی پیچیده و زمانبری را پشت سر می گذارند که ضامن کیفیت و عملکرد سیستم شما خواهد بود در این مرحله تمام نرم افزار های مورد نیاز کاربر نصب شده و عملکرد سیستم در این نرم افزار ها مورد تست و بررسی و تست قرار میگیرد .

        </p>
        <h4 class="text-danger">
            ضامن عملکرد سیستم شما هستیم
        </h4>
    </div>
    <div class="col-md-3 text-center text-white">
        <img src="~/img/Fourth-Level-1.png" />
        <h6>
             ارسال سراسری
        </h6>
        <p>
            برای رفاه بیشتر همراهان پی‌سی ماد، بسته بندی ویژه ای در نظر گرفته‌ایم تا با حداقل کردن احتمال آسیب به قطعات و با کمک شرکت های پست خصوصی و بیمه مرسوله قادر باشیم سیستم های شما را به سراسر ایران با امنیت کامل ارسال کنیم.

        </p>
        <h4 class="text-danger">
            در هر گوشه از ایران کنار شماییم
        </h4>
    </div>
</div>
<br />
<div class="row">
    <h4 class="text-danger">
        پشتیبانی ویژه پی‌سی ماد
    </h4>
</div>
<div class="row">
    <p class="text-white">
        پی‌سی ماد بعد از خریدهمراه شماست، در مدت زمان یکساله بعد از خرید شما تیم پی‌سی ماد با تمام تخصص و مهارت کنار شماست تا کیفیت اولیه سیستم شما ثابت بماند، هرگونه مشکل سخت افزاری و نرم افزاری توسط تیم پی‌سی ماد رایگان عیب یابی شده و به لطف همکاری گسترده پی‌سی ماد با واردکنندگان و شرکت های ارائه دهنده گارانتی هرگونه ایراد احتمالی را پیگیری و حل خواهیم کرد.

        مشتریان پی‌سی ماد لایق تجربه ای بی دردسر از کار با سیستم خود هستند پس ماموریت ما تضمین آرامش شماست.


    </p>
</div>
<br/>
<div class="row">
    <h1 class="text-center text-danger">اعضای تیم</h1>

</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
        <img src="~/img/Mehdi-Heydarpour.png" />
        <h4 class="text-white text-center">مهدی حیدر پور</h4>
        <h5 class="text-white text-center">موسس پی سی ماد</h5>
    </div>
    <div class="col-md-4"></div>
</div>
<br/>
<br/>