<br/>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <img src="~/img/cp-cover.png" />
            </div>
            <div class="col-md-6">
                <img src="~/img/miracle-cover.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="~/img/karen-cover.png" />
            </div>
            <div class="col-md-6">
                <img src="~/img/lyra-cover.png" />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <img width="100%" src="~/img/titan-cover.png" />
    </div>
</div><br/>
<div class="row">
    <h1 class="text-center text-danger">
        نمونه هایی از تلاش تیم پی‌سی ماد

    </h1>
    <p class="text-white">
        دغدغه همیشگی ما بکارگیری مهارت و تجربه حرفه ای پی‌سی ماد برای خلق برترین پروژه ها و ارائه استاندارد های جهانی از اسمبل و مونتاژ سیستم هاست تا در کنار پشتیبانی و خدمات کامل پی‌سی ماد لذت خرید و استفاده بی دغدغه سیستم های کامپیوتری را به کاربران ایرانی هدیه دهیم.


    </p>
</div>
<br/>
 <div class="row">
     <div class="col-md-12">
    <div class="row">
    <h1 class="text-danger ">
        ANTARCTICA
    </h1>
     <img width="100%" src="~/img/antarctica-wallpaper-1536x864.jpg" /> 
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src="~/img/antarctica-1-300x300.jpg" />
        </div>
        <div class="col-md-3">
            <img src="~/img/antarctica-2-300x300.jpg" />
        </div>
        <div class="col-md-3">
            <img src="~/img/antarctica-3-300x300.jpg" />
        </div>
        <div class="col-md-3">
            <img src="~/img/antarctica-4-300x300.jpg" />
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-3">
            <img src="~/img/antarctica-6-300x215.jpg" />
        </div>
        <div class="col-md-3">
            <img src="~/img/antarctica-7-300x215.jpg" />
        </div>
        <div class="col-md-3">
            <img src="~/img/antarctica-8-300x215.jpg" />
        </div>
        <div class="col-md-3">
            <img src="~/img/antarctica-9-300x215.jpg" />
        </div>
    </div>
    </div>
</div>
 <br/>
<br />
<br />