<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 bg-light">
        <h5>دفتر مرکزی
        </h5>
        <p>تبریز پاساژ سهند</p>

<br/>

     <h5>
            شماره تماس
        </h5>
        <p>
        02188939001-3
        </p>
        <p>
        09198547042
        </p>
    </div>
    <div class="col-md-1"></div>
</div>
<br/>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 bg-light">
        پی سی ماد
        ما پی‌سی‌ماد هستیم. تیمی کامل از مهندسین و کارشناسان سخت‌افزار تا طراحان صنعتی و معماری. از سال 1393 اولین رسانه‌ی ویدئویی سخت افزار هستیم و در تمام این سال‌ها در کنار علاقه‌مندان به سیستم‌های کامپیوتری، جامعه‌ی گیمینگ و کاربرهای مختلف بوده ایم. افتخار می‌کنیم مجموعه‌ی پی سی ماد با کسب اعتماد و رضایتمندی مشتریان گرامی، هم اکنون آماده‌ی ارائه‌ی انواع خدمات شخصی‌سازی سیستم (کیس مادینگ)، خنک‌سازی آبی (کاستوم واترکولینگ) و فروش سیستم‌های PC اعم از سیستم‌های رندرینگ، گیمینگ، ورک استیشن و ... بوده و با دانش فنی به روز و همکاری‌ مشترک با برندهای معروفی چون کولرمستر، ایسوس، گیگابایت، دیپ کول، انویدیا و ... تجربه‌ای منحصر به فرد در بالاترین استانداردهای موجود را تضمین می‌کنیم. کارشناسان فنی و فروش پی‌سی‌ماد همواره آماده‌ی ارائه‌ی بهترین راهکارها و پیشنهادات برای پاسخ به نیاز شما مشریان گرامی هستند.
    </div>
    <div class="col-md-1"></div>
</div>