<div class="row">
    <div class="col-md-6">
        <h1 class="text-center text-danger">
            مشکل حرارتی پردازنده های اینتل

        </h1>
        <p class="text-white">
            با تندتر شدن آتش رقابت در تولید پردازنده ها و تلاش اینتل برای رسیدن به بیشترین سطح عملکرد، توان مصرفی پردازنده ها نسل به نسل افزایش چشمگیری داشته است. در حالی که ساختار سیستم انتقال حرارتی پردازنده تغییر جدی نداشته است، مهندسین اینتل در توضیح این مساله می گویند این پردازنده ها برای رسیدن به مرز های حرارتی طراحی شده اند و مگر در شرایط استفاده از اکستریم کولینگ ها همواره در تلاش برای رسیدن به مرز ۱۰۰ درجه سانتی گراد هستند.


        </p>
    </div>
    <div class="col-md-6">
        <video width="100%" autoplay muted>
            <source src="~/img/cc49372f94c19532254cda7523bece2b57034095-480p.mp4" type="video/mp4">
        </video>
    </div>
</div>
<div class="row">
    <h1 class="text-danger text-white">
        بهترین های دنیا

    </h1>
    <p class="text-white">
        بیشتر کاربران در مواجه با پردازنده های با توان بالا به سراغ خنک کننده های مایع سیکل بسته یا همان AIO COOLER ها می روند، تیم فنی پی‌سی ماد بعد از تست های مکرر و متعدد ۴ نمونه از قوی ترین خنک کننده های دنیا را به چالش کشید تا برای خنک کردن پردازنده Intel Core i9-13900K با یکدیگر رقابت کنند، اما نتیجه بدست آمده غیر منتظره و شاید کمی نا امید کننده بود.

       
    </p>
</div>
