<div class="row">
    <video width="100%"  autoplay muted>
        <source src="~/img/43d553f704f0bfbafced9bce5b1e4e2757377830-480p.mp4" type="video/mp4">
    </video>
</div>
<br/>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
        <h1 class="bg-light text-danger">لینک خرید محصولات</h1>
    </div>
    <div class="col-md-5"></div>
</div>
<div class="row">
    <h1 class="text-white text-center">
        مادکیت پی‌سی ماد
    </h1>
    <p class="text-white">
        هنر کیس مادینگ از گذشته نقطه اوجی در صنعت سخت افزار بوده است، اما دسترسی به کیس مادینگ برای همه کاربران مقدور نیست. از این رو کاربران بسیاری با استفاده از لوازم آماده (مادکیت ها) ظاهر سیستم های گیمینگ خود را تغییر میدهند.

        پی‌سی ماد با معرفی محصولات مادینگ (مادکیت) قصد داشته تا علاوه بر زیباتر کردن سیستم های شما کارایی را با زیبایی ترکیب کرده و جانی دوباره به سیستم های شما ببخشد.


    </p>
</div>
<div class="row">
    <div class="col-md-6">
        <img src="~/img/light-boards-1002x1024.png" width="100%" />
    </div>
    <div class="col-md-6">
        <br/>
        <br/>
        <h2 class="text-danger text-center">
            لایت بار و لایت باکس

        </h2>
        <p class="text-white">
            بعد از ترند شدن پنل های شیشه ای یکی از دغدغه های همیشگی کاربران تاریکی بیش از حد فضای داخلی کیس بوده است. لایت بورد و لایت باکس های پی سی ماد این مشکل را در کنار ظاهری زیبا برای شما حل میکنند. لایت برد های پی سی ماد ویژه کیس هایی طراحی شده که در کنار مادربرد امکان افزودن 3 فن 120 میلیمتری دارند و ضمن تکمیل و زیباتر کردن ظاهر کیس هزینه های اضافه برای خرید فن برای کیس هایی با طراحی های آکواریومی را کاهش میدهند.


        </p>
    </div>
</div>
<br/>
<br/>
<br/>
