<div class="row">
    <h2 class="text-danger">
        خدمات ویژه پی‌سی ماد

    </h2>
</div>
<div class="row text-white">
    در تمام سال های فعالیت پی‌سی ماد، تلاش کرده ایم تا با ارائه خدماتی در سطح جهانی در کنار بهره گیری از قطعات اصلی و با کیفیت، تجربه ای از یک خرید مطمئن را به مشتریان پی‌سی ماد هدیه کنیم.این خدمات شامل خدمات فنی، پشتیبانی، خدمات پس از فروش و خدمات شخصی سازی می باشد.
    <br/>
    فهرست پایین تنها بخشی از خدمات ویژه ما به شماست.


</div>
<br/>
<div class="row">
    <div class="col-md-3">
        <img src="~/img/PCMOD-GUARANTEE.png"/>
        <h3 class="text-danger">
            گارانتی بی قید و شرط (وارانتی)
        </h3>
        <p class="text-white">
            تمام سیستم های پی‌سی ماد به مدت 12 ماه از تاریخ خرید گارانتی تعویض بی قید و شرط دارند، پس شما کاربر عزیز با اطمینان خاطر می توانید از سیستم خود استفاده کنید و تیم پی‌سی ماد را به عنوان یک پشتیبان حرفه ای در کنار خود داشته باشید.


        </p>
    </div>
    <div class="col-md-3">
        <img src="~/img/CUSTOM-WATERCOOLING.png" />
        <h3 class="text-danger">
            کاستوم واترکولینگ شخصی سازی شده

        </h3>
        <p class="text-white">
            ما در پی‌سی ماد به عنوان بزرگترین مجموعه خدمات کاستوم واترکولینگ در ایران، کوشیده ایم پا را از مرزهای فروش کیت های آماده و قطعات از پیش طراحی شده فراتر بگذاریم و سیستم خنک کاری سیکل باز شخصی سازی شده بر اساس نیار منحصر به فرد هر مشتری را طراحی کنیم و با تولید قطعات تکمیلی معنای واقعی از کاستوم واترکولینگ ارائه کنیم.


        </p>
    </div>
    <div class="col-md-3">
        <img src="~/img/CUSTOM-WATERCOOLING-DUAL-LOOP.png" />
        <h3 class="text-danger">
            کاستوم واتر کولینگ دوال لوپ

        </h3>
        <p class="text-white">
            با بالا رفتن توان و حرارت تولیدی پردازنده ها و کارت های گرافیک، اختلاف گرمایی بین CPU و GPU عاقلانه نخواهد بود. علی رغم محدودیت های فراوان، به کمک توان مهندسی و تولید مجموعه برای قطعات نسل جدید، سیستم هایی با دو مجموعه خنک کاری سیکل باز مستقل در نظر گرفته ایم که دستیابی به عملکرد واقعی این قطعات را تضمین کند.


        </p>
    </div>
    <div class="col-md-3">
        <img src="~/img/Professional-TUBING.png" />
        <h3 class="text-danger">
            کاستوم واتر کولینگ

        </h3>
        <p class="text-white">
            سابقه کاستوم واترکولینگ به حدود دو دهه پیش بر میگردد. از همان سال های ابتدایی معرفی خنک کاری لوپ باز، به عنوان اولین مجموعه سخت افزاری ایران استفاده و گسترش این فناوری را در دستور کار داشته‌ایم. امروزه بزرگترین و معتبرترین مجموعه‌ی ارائه دهنده‌ی خدمات کاستوم واترکولینگ در ایران هستیم.


        </p>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-3">
        <img src="~/img/PCMOD-GUARANTEE.png" />
        <h3 class="text-danger">
            بهبود عملکرد CPU
        </h3>
        <p class="text-white">
            اصلاح و بهبود عملکرد CPU یکی از اهداف قدیمی تمام اورکلاکرها بوده است. در پی‌سی ماد از دانش خود در این زمینه بهره می گیریم تا با هدف بهبود عملکرد پردازشی و حرارتی پردازنده ها، اصلاحات لازم روی آنها انجام شود که در دراز مدت به علت کنترل حرارت تولید شده، موجب افزایش طول عمر قطعات خواهد شد.



        </p>
    </div>
    <div class="col-md-3">
        <img src="~/img/CUSTOM-WATERCOOLING.png" />
        <h3 class="text-danger">
            لپینگ CPU

        </h3>
        <p class="text-white">
            سطح IHS (توزیع کننده حرارت فلزی) روی پردازند همواره پر از پستی و بلندی است و این پستی بلندی ها باعث عدم اتصال صحیح سطح خنک کننده و پردازنده خواهد بود. پی سی ماد با استفاده از تکنیک لپینگ (Lapping) سطحی صاف، آیینه‌ای و خالی از هرگونه پستی بلندی روی IHS پردازنده ایجاد می کند که با برقراری بهترین اتصال فیزیکی باعث دفع بهتر حرارت و کاهش دمای CPU شما خواهد بود.



        </p>
    </div>
    <div class="col-md-3">
        <img src="~/img/CUSTOM-WATERCOOLING-DUAL-LOOP.png" />
        <h3 class="text-danger">
            لپینگ کلد پلیت

        </h3>
        <p class="text-white">
            به سطح زیرین خنک کننده های بادی و آبی کلدپلیت (Cold Plate) گفته می شود. همانطور که گفته شد این سطح نیز به دلیل وجود پستی و بلندی و آثار ماشین کاری، مانع اتصال مناسب با سطح پردازشی خواهد بود. به کمک تکنیک لپینگ صحت این اتصال را برای شما تضمین می کنیم.



        </p>
    </div>
    <div class="col-md-3">
        <img src="~/img/Professional-TUBING.png" />
        <h3 class="text-danger">
            دیلید CPU

        </h3>
        <p class="text-white">
            اتصال پردازنده به IHS به وسیله نوعی از لحیم یا خمیر حرارتی انجام شده است. می توان با تغییر جنس این اتصال به فلز مایع، دمای پردازنده را به شکل چشم گیری کاهش داد. اما دیلید (Delidding) نیازمند مهارتی بسیار بالاست چرا که برداشتن IHS از روی پردازنده آن را در معرض آسیب های فیزیکی و الکترونیکی بسیاری قرار خواهد داد.



        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <img src="~/img/PCMOD-GUARANTEE.png" />
        <h3 class="text-danger">
            فلز مایع
        </h3>
        <p class="text-white">
            استفاده از فلز مایع به جای خمیرهای حرارتی چه روی سطح IHS و چه به صورت مستقیم روی سطح اصلی پردازنده، باعث کاهش دمای پردازنده خواهد شد. اما استفاده از فلز مایع بواسطه رسانایی الکتریکی بالای این سیال در کنار گرانروی پایین آن، خطرات زیادی را برای تکنسین‌های تازه کار به همراه دارد. در پی سی ماد با رعایت تمامی نکات ضروری و استفاده از ابزار حرفه‌ای این خطرات به صفر رسیده و کاربران می توانند از عملکرد حرارتی بی نظیر این واسط انتقال حرارت استفاده کنند.




        </p>
    </div>
    <div class="col-md-3">
        <img src="~/img/CUSTOM-WATERCOOLING.png" />
        <h3 class="text-danger">
            انواع خمیر حرارتی بالا رده

        </h3>
        <p class="text-white">
            مشتریان پی سی ماد می توانند از مدلهای متنوع خمیرهای حرارتی بالارده از برند های معتبری مثل Thermal Grizly، Noctua، CoolerMaster، Arctic و … خمیر حرارتی متناسب با بودجه و نیاز خود را انتخاب کنند.




        </p>
    </div>
    <div class="col-md-3">
        <img src="~/img/CUSTOM-WATERCOOLING-DUAL-LOOP.png" />
        <h3 class="text-danger">
            ساخت دیسترو پلیت اختصاصی

        </h3>
        <p class="text-white">
            آن دسته از کاربران که تمایل دارند از مزایای داشتن یک صفحه توزیع اختصاصی در خنک کننده سیکل بازشان استفاده کنند، دیگر مجبور به پرداخت هزینه های چند صد دلاری خرید دیسترو پلیت های یونیورسال (همه کاره) نیستند. با پرداخت هزینه‌ای بسیار پایین تر یک دیسترو پلیت اختصاصی با طراحی منحصر به فرد خودشان را خواهند داشت.




        </p>
    </div>
    <div class="col-md-3">
        <img src="~/img/Professional-TUBING.png" />
        <h3 class="text-danger">
            تعداد رادیاتور دلخواه

        </h3>
        <p class="text-white">
            مشتریان پی‌سی ماد هیچ محدودیتی در انتخاب نوع، تعداد و چینش قطعات کاستوم واتر کولینگ ندارد و محدود به استفاده از محتویات کیت های آماده و میان رده بازار نیستند.

            رسیدن به نتایج حرارتی کم نظیر در پی‌سی ماد یکی از دستاوردهای ماست.


        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <img src="~/img/PCMOD-GUARANTEE.png" />
        <h3 class="text-danger">
            ابزار حرفه ای ALPHACOOL
        </h3>
        <p class="text-white">
            در پی‌سی ماد با استفاده از ابزار حرفه ای آلفاکول (alphacool) ساخت آلمان، دقتی بی مثال در لوله کشی و طراحی سیستم های خنک کاری لوپ باز به مشتریان خود هدیه می کنیم.





        </p>
    </div>
    <div class="col-md-3">
        <img src="~/img/CUSTOM-WATERCOOLING.png" />
        <h3 class="text-danger">
            ابزار حرفه ای (اسمبل)

        </h3>
        <p class="text-white">
            به لطف استفاده از ابزار دستی حرفه‌ای Wera ساخت آلمان، سلامت قطعات و دقت اسمبل بالا را به عنوان استاندارد کاری اسمبل سیستم در پی‌سی ماد پیاده سازی کرده ایم.





        </p>
    </div>
    <div class="col-md-3">
        <img src="~/img/CUSTOM-WATERCOOLING-DUAL-LOOP.png" />
        <h3 class="text-danger">
            ابزار حرفه‌ای (اسمبل)

        </h3>
        <p class="text-white">
            استفاده از ابزار برقی برای اسمبل یا ایجاد تغییرات در قطعات سخت افزاری، در صورت استفاده از ابزار نامرغوب باعث آسیب به قطعات و خسارات جبران ناپذیر خواهد بود. به همین دلیل با کمک گرفتن از ابزار حرفه ای DEWALT ساخت آمریکا، برای همیشه ترس استفاده از ابزار برقی در فرآیند اسمبل را از بین برده‌ایم.





        </p>
    </div>
    <div class="col-md-3">
        <img src="~/img/Professional-TUBING.png" />
        <h3 class="text-danger">
            ابزار حرفه ای (مدیریت کابل)

        </h3>
        <p class="text-white">
            یک مدیریت کابل حرفه ای نیازمند استفاده از ابزار و لوازم به روز و مطابق طراحی کیس های مورد استفاده است. با تکیه بر توان تولید مجموعه، ابزار و لوازم ویژه متناسب با کیس های تولید داخل و وارداتی جهت انجام یک مدیریت کابل حرفه ای را به کار می بریم.



        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <img src="~/img/PCMOD-GUARANTEE.png" />
        <h3 class="text-danger">
            مدیریت کابل حرفه ای
        </h3>
        <p class="text-white">
            در دهه گذشته فعالیت های تیم ما و علاقه‌مندان به سخت افزار، مدیریت کابل را به عنوان یک باید در اسمبل تعریف کرد. اکنون با استفاده از ابزار ویژه مهارت فنی و کارگروهی در طراحی مسیرهای مدیریت کابل، سطح جدیدی از این استاندارد را به مشتریان خود معرفی کرده ایم.






        </p>
    </div>
    <div class="col-md-3">
        <img src="~/img/CUSTOM-WATERCOOLING.png" />
        <h3 class="text-danger">
            براکت کارت گرافیک

        </h3>
        <p class="text-white">
            با سنگین‌تر شدن کارت‌های گرافیک، بسیاری از کاربران نیاز به یک نگهدارنده برای مهار وزن کارت های خود را حس کرده‌اند. مهار نشدن این وزن در دراز مدت باعث خم شدن کارت گرافیک و آسیب به شیار های توسعه مادربرد میشود. پی سی ماد در کنار ساخت ابزاری برای رفع نیاز کاربران، کوشیده است تا زیباترین نوع نگهدارنده با نورپردازی ARGB قابل کنترل را تولید و روانه بازار کند.







        </p>
    </div>
    <div class="col-md-3">
        <img src="~/img/CUSTOM-WATERCOOLING-DUAL-LOOP.png" />
        <h3 class="text-danger">
            کنترل کیفیت، تضمین عملکرد

        </h3>
        <p class="text-white">
            تمامی سیستم های پی‌سی ماد، قبل از توصیه در مشاوره‌های فنی یا معرفی در وبسایت، مورد آزمایش‌های دقیق و طولانی قرار میگیرند تا بتوانیم همواره ضامن کیفیت فنی سیستم ها باشیم.






        </p>
    </div>
    
</div>

<br/>
<br/>