<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <img src="~/img/HighEnd-Landing-Cover-8.jpg" />
            </div>
            <div class="col-md-6">
                <img src="~/img/HighEnd-Landing-Cover-7.jpg" />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <img src="~/img/HighEnd-Landing-Cover-5.jpg" />
        </div>
        <div class="row">
            <img src="~/img/HighEnd-Landing-Cover-6.jpg" />
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
    <h1 class="text-center text-danger">
        نمونه هایی از تلاش تیم پی‌سی ماد
    </h1>
    <p class="text-white">
            دغدغه همیشگی ما بکارگیری مهارت و تجربه حرفه ای پی‌سی ماد برای خلق برترین پروژه ها و ارائه استاندارد های جهانی از اسمبل و مونتاژ سیستم هاست تا در کنار پشتیبانی و خدمات کامل پی‌سی ماد لذت خرید و استفاده بی دغدغه سیستم های کامپیوتری را به کاربران ایرانی هدیه دهیم.


    </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
    <h1 class="text-danger">
        نمونه سیستم

    </h1>
    <img src="~/img/blue-gt502-wallpaper-qurzhee5kpt25uw9zwetor7a03xip0djx9q5vy2kp6.webp" />
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="~/img/blue-gt502-3-405x236.webp" />
            </div>
            <div class="col-md-4">
                <img src="~/img/blue-gt502-2-405x236.webp" />
            </div>
            <div class="col-md-4">
                <img src="~/img/blue-gt502-1-405x236.webp" />
            </div>
        </div>
    </div>
</div>

<br/>
<br/>
