<div class="row">
    <h1 class="text-center text-white">گارانتی بی قید و شرط تعویض</h1>
</div>
<br />
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
    <img class="text-center"  width="100%" src="~/img/pcmod-warranty-1-ql3opsnafvpzg2vdeiuep02v4t6u6u6egh90mtiuio.png" />
    </div>
    <div class="col-md-4"></div>
</div>
<br/>
<div class="row">
    <div class="col-md-12">
    <h1 class="text-center text-white">
        تفاوت گارانتی و وارانتی
    </h1>
    <br/>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
    <p class="text-white d-flex">
        گارانتی به معنی تضمین ارائه شده توسط فروشنده یا وارد کننده جهت عملکرد صحیح قطعه می باشد. فروشنده یا وارد کننده معمولا با ارائه خدمات پس از فروش شامل تامین قطعات یدکی، تعمیر بخش معیوب، تعویض کالا و یا عودت وجه این ضمانت نامه رایگان را عملیاتی می کند. اما وارانتی آن بخشی از خدمات فروشنده است که خریدار طی قرار مشخص بابت دریافت آن هزینه پرداخت می کند. حال وظیفه خریدار است که طی قرار مشخص بابت دریافت آن هزینه پرداخت می کند و باید در خرید این خدمات به مفاد آن دقت لازم را داشته باشد تا در آینده با بهره مندی از خدمات ارائه شده، لذت خرید آگاهانه و مطمئن را تجربه کند!


    </p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <img width="100%" src="~/img/pcmod-warranty-4-854x1024.png" />
    </div>
    <div class="col-md-2"></div>
</div>
<br/>
<div class="row">
    <h2 class="text-danger">
    * مواردی نظیر آب خوردگی، ضربه و استفاده نا مناسب تحت پوشش وارانتی نیستند.
    </h2>
    <br/>
    <h2 class="text-danger">
        * خدشه دار شدن هولگرام سیستم به معنی دستکاری آن بوده و موجب ابطال وارانتی می شود.

    </h2>
</div>
<br/>
<br/>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h3 class="text-center text-white">
            بجای اتکا به گارانتی های محدود و نا کار آمد، وارانتی بی قید و شرط پی‌سی ماد را انتخاب میکنیم
        </h3>
    </div>
    <div class="col-md-1"></div>
</div>
<br/>
<br/>
