<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="assets/img/seller-logo.png" type="image/icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> دیجی پرس</title>
    <link rel="stylesheet" href="assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/vendor/bootstrap-slider.min.css">
    <link rel="stylesheet" href="./assets/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" href="./assets/css/vendor/jquery.horizontalmenu.css">
    <link rel="stylesheet" href="./assets/css/vendor/jquery-stack-menu.min.css">
    <link rel="stylesheet" href="./assets/css/vendor/nice-select.css">
    <link rel="stylesheet" href="./assets/css/vendor/nouislider.min.css">
    <link rel="stylesheet" href="assets/plugin/go-to-top/style.css">
    <link rel="stylesheet" href="assets/plugin/iran-map/iranmap.css">
    <link rel="stylesheet" href="assets/css/main.css">
</head>