<div class="header-responsive">
    <div class="header-top">
        <div class="side-navigation-wrapper">
            <button class="btn-toggle-side-navigation">
                <i>
                    <svg width="20px" height="20px" viewBox="0 -1 12 12" id="meteor-icon-kit__regular-bars-s" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.85714 2C0.38376 2 0 1.55228 0 1C0 0.44772 0.38376 0 0.85714 0H11.1429C11.6162 0 12 0.44772 12 1C12 1.55228 11.6162 2 11.1429 2H0.85714zM0.85714 6C0.38376 6 0 5.5523 0 5C0 4.4477 0.38376 4 0.85714 4H11.1429C11.6162 4 12 4.4477 12 5C12 5.5523 11.6162 6 11.1429 6H0.85714zM0.85714 10C0.38376 10 0 9.5523 0 9C0 8.4477 0.38376 8 0.85714 8H11.1429C11.6162 8 12 8.4477 12 9C12 9.5523 11.6162 10 11.1429 10H0.85714z" fill="#758CA3" /></svg>
                </i>
            </button>
            <div class="side-navigation">
                <div class="site-logo">
                    <a href="#">
                        <img src="assets/img/svg/logo.svg" alt="logo">
                    </a>
                </div>
                <div class="divider"></div>
                <ul class="not-list-children">
                    <li>
                        <a href="#">
                            <i>
                                <svg width="25px" height="25px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                     viewBox="0 0 512 512" xml:space="preserve">
                                <rect x="21.59" y="175.807" style="fill:#EDEDED;" width="468.819" height="234.41" />
                                <rect x="453.398" y="175.807" style="fill:#D8D8DA;" width="37.012" height="234.41" />
                                <rect x="83.277" y="163.47" style="fill:#D1E5F5;" width="345.446" height="185.06" />
                                <polygon style="fill:#B4D8F1;" points="120.289,163.47 305.349,348.53 428.723,348.53 428.723,163.47 " />
                                <circle style="fill:#E07188;" cx="256" cy="354.699" r="92.53" />
                                <path style="fill:#DC4161;" d="M256,262.169c-4.186,0-8.298,0.305-12.337,0.844c45.266,6.035,80.193,44.77,80.193,91.686
                                    s-34.927,85.652-80.193,91.686c4.039,0.538,8.151,0.844,12.337,0.844c51.103,0,92.53-41.428,92.53-92.53
                                    S307.103,262.169,256,262.169z" />
                                <polygon style="fill:#80CB93;" points="502.747,138.795 490.41,151.133 21.59,151.133 9.253,138.795 83.277,64.771 428.723,64.771
                                    " />
                                <polygon style="fill:#6DC180;" points="428.723,64.771 404.048,64.771 478.072,138.795 465.735,151.133 490.41,151.133
                                    502.747,138.795 " />
                                <path style="fill:#95D5A7;" d="M9.253,175.807c0,34.068,27.618,61.687,61.687,61.687s61.687-27.618,61.687-61.687
                                    c0,34.068,27.618,61.687,61.687,61.687S256,209.876,256,175.807c0,34.068,27.618,61.687,61.687,61.687s61.687-27.618,61.687-61.687
                                    c0,34.068,27.618,61.687,61.687,61.687s61.687-27.618,61.687-61.687v-37.012H9.253V175.807z" />
                                <g>
                                <path style="fill:#80CB93;" d="M478.072,138.795v37.012c0,29.843-21.193,54.735-49.349,60.451
                                        c3.986,0.809,8.112,1.236,12.337,1.236c34.068,0,61.687-27.618,61.687-61.687v-37.012H478.072z" />
                                <path style="fill:#80CB93;" d="M305.349,236.258c3.986,0.809,8.112,1.236,12.337,1.236c34.068,0,61.687-27.618,61.687-61.687
                                        h-13.37c-6.058,0-11.162,4.409-12.174,10.382C349.575,211.283,330.167,231.219,305.349,236.258z" />
                                <path style="fill:#80CB93;" d="M181.976,236.258c3.986,0.809,8.112,1.236,12.337,1.236c34.068,0,61.687-27.618,61.687-61.687
                                        h-13.37c-6.058,0-11.162,4.409-12.174,10.382C226.202,211.283,206.794,231.219,181.976,236.258z" />
                                <path style="fill:#80CB93;" d="M58.602,236.258c3.986,0.809,8.112,1.236,12.337,1.236c34.068,0,61.687-27.618,61.687-61.687
                                        h-13.371c-6.058,0-11.162,4.409-12.174,10.382C102.828,211.283,83.42,231.219,58.602,236.258z" />
                                </g>
                                <path style="fill:#F8F8F9;" d="M280.675,319.979c-13.628,0-24.675,11.047-24.675,24.675c0,6.814,0,6.814,0,0
                                    c0-13.628-11.047-24.675-24.675-24.675c-13.628,0-24.675,11.047-24.675,24.675c0,6.814,2.761,12.983,7.227,17.447L256,404.223
                                    l42.122-42.122l0,0c4.465-4.465,7.227-10.634,7.227-17.447C305.349,331.026,294.303,319.979,280.675,319.979z" />
                                <path style="fill:#2E2D31;" d="M132.627,210.812c12.216,21.445,35.291,35.935,61.687,35.935s49.47-14.49,61.687-35.935
                                    c12.216,21.445,35.291,35.935,61.687,35.935s49.47-14.49,61.687-35.935c12.216,21.445,35.29,35.935,61.687,35.935
                                    c39.117,0,70.94-31.823,70.94-70.94v-37.012c0-2.548-1.03-4.855-2.696-6.528c-0.005-0.005-0.009-0.01-0.014-0.016l-74.024-74.024
                                    c-1.736-1.735-4.09-2.709-6.544-2.709H170.46c-5.111,0-9.253,4.142-9.253,9.253s4.142,9.253,9.253,9.253h254.431l55.518,55.518
                                    H31.591l55.518-55.518h46.34c5.111,0,9.253-4.142,9.253-9.253s-4.142-9.253-9.253-9.253H83.277c-2.454,0-4.807,0.975-6.544,2.709
                                    L2.709,132.251c-0.002,0.002-0.002,0.004-0.004,0.005C1.034,133.932,0,136.243,0,138.795v37.012
                                    c0,14.796,4.559,28.544,12.337,39.925v194.485c0,5.111,4.142,9.253,9.253,9.253h155.954c18.685,22.591,46.916,37.012,78.456,37.012
                                    s59.771-14.421,78.456-37.012H490.41c5.111,0,9.253-4.142,9.253-9.253V260.524c0-5.111-4.142-9.253-9.253-9.253
                                    c-5.111,0-9.253,4.142-9.253,9.253v140.44H346.614c6.679-13.029,10.626-27.671,11.091-43.181h71.018
                                    c5.111,0,9.253-4.142,9.253-9.253v-70.734c0-5.111-4.142-9.253-9.253-9.253s-9.253,4.142-9.253,9.253v61.481h-62.854
                                    c-7.454-48.831-49.734-86.361-100.616-86.361s-93.162,37.53-100.616,86.361H92.53v-95.893
                                    C109.609,237.916,123.893,226.142,132.627,210.812z M493.494,148.048v27.759c0,28.913-23.521,52.434-52.434,52.434
                                    c-28.913,0-52.434-23.521-52.434-52.434c0-5.111-4.142-9.253-9.253-9.253s-9.253,4.142-9.253,9.253
                                    c0,28.913-23.521,52.434-52.434,52.434c-28.913,0-52.434-23.521-52.434-52.434c0-5.111-4.142-9.253-9.253-9.253
                                    c-5.111,0-9.253,4.142-9.253,9.253c0,28.913-23.521,52.434-52.434,52.434s-52.434-23.521-52.434-52.434
                                    c0-5.111-4.142-9.253-9.253-9.253c-5.111,0-9.253,4.142-9.253,9.253c0,28.913-23.521,52.434-52.434,52.434
                                    s-52.434-23.521-52.434-52.434v-27.759H493.494z M256,271.422c45.92,0,83.277,37.357,83.277,83.277S301.92,437.976,256,437.976
                                    s-83.277-37.358-83.277-83.277S210.08,271.422,256,271.422z M83.277,357.783h71.017c0.465,15.509,4.411,30.151,11.09,43.181H30.843
                                    V234.288c11.415,7.851,25.225,12.459,40.096,12.459c1.034,0,2.06-0.03,3.084-0.074V348.53
                                    C74.024,353.642,78.166,357.783,83.277,357.783z" />
                            </svg>
                            </i> سوپرمارکت
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i>
                                <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path opacity="0.1" d="M3 12C3 4.5885 4.5885 3 12 3C19.4115 3 21 4.5885 21 12C21 19.4115 19.4115 21 12 21C4.5885 21 3 19.4115 3 12Z" fill="#323232" />
                                    <path d="M16 8L8 16" stroke="#323232" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M9 9.01001L9 9.00001" stroke="#323232" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M15 15.01L15 15" stroke="#323232" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M3 12C3 4.5885 4.5885 3 12 3C19.4115 3 21 4.5885 21 12C21 19.4115 19.4115 21 12 21C4.5885 21 3 19.4115 3 12Z" stroke="#323232" stroke-width="2" />
                                </svg>
                            </i> پیشنهادها و تخفیف ها
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i>
                                <svg width="23px" height="23px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path opacity="0.1" d="M3 12C3 4.5885 4.5885 3 12 3C19.4115 3 21 4.5885 21 12C21 19.4115 19.4115 21 12 21C4.5885 21 3 19.4115 3 12Z" fill="#323232"></path>
                                    <path d="M9 12H15" stroke="#323232" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M12 9L12 15" stroke="#323232" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M3 12C3 4.5885 4.5885 3 12 3C19.4115 3 21 4.5885 21 12C21 19.4115 19.4115 21 12 21C4.5885 21 3 19.4115 3 12Z" stroke="#323232" stroke-width="2"></path>
                                </svg>
                            </i> فروشنده شوید
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i>
                                <svg width="23px" height="23px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.95043 20.6471C6.17301 19.9956 4.00437 17.827 3.35288 15.0496C2.88237 13.0437 2.88237 10.9563 3.35288 8.95043C4.00437 6.17301 6.17301 4.00437 8.95044 3.35288C10.9563 2.88237 13.0437 2.88237 15.0496 3.35288C17.827 4.00437 19.9956 6.17301 20.6471 8.95043C21.1176 10.9563 21.1176 13.0437 20.6471 15.0496C19.9956 17.827 17.827 19.9956 15.0496 20.6471C13.0437 21.1176 10.9563 21.1176 8.95043 20.6471Z" fill="#363853" fill-opacity="0.15" stroke="#363853" stroke-width="1.5" />
                                    <circle cx="12" cy="15.5" r="1" fill="#363853" />
                                    <path d="M10 10V9.5C10 8.39543 10.8954 7.5 12 7.5V7.5V7.5C13.1046 7.5 14 8.39543 14 9.5V9.62132C14 10.1839 13.7765 10.7235 13.3787 11.1213L12 12.5" stroke="#363853" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </i> سوالی دارید؟
                        </a>
                    </li>
                </ul>
                <div class="divider"></div>
                <ul class="category-list">
                    <li class="has-children">
                        <a href="#">کالای دیجیتال</a>
                        <ul>
                            <li class="has-children">
                                <a href="#">لوازم جانبی گوشی</a>
                                <ul>
                                    <li>
                                        <a href="#">کیف و کاور گوشی</a>
                                    </li>
                                    <li>
                                        <a href="#">پاور بانک (شارژر همراه)</a>
                                    </li>
                                    <li>
                                        <a href="#">پایه نگهدارنده گوشی</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">گوشی موبایل</a>
                                <ul>
                                    <li>
                                        <a href="#">سامسونگ</a>
                                    </li>
                                    <li>
                                        <a href="#">هوآوی</a>
                                    </li>
                                    <li>
                                        <a href="#">اپل</a>
                                    </li>
                                    <li>
                                        <a href="#">شیائومی</a>
                                    </li>
                                    <li>
                                        <a href="#">آنر</a>
                                    </li>
                                    <li>
                                        <a href="#">نوکیا</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">هدفون، هدست، هندزفری</a>
                            </li>
                            <li>
                                <a href="#">اسپیکر بلوتوث و با سیم</a>
                            </li>
                            <li class="has-children">
                                <a href="#">دوربین</a>
                                <ul>
                                    <li>
                                        <a href="#">دوربین عکاسی دیجیتال</a>
                                    </li>
                                    <li>
                                        <a href="#">دوربین‌ ورزشی و فیلم برداری</a>
                                    </li>
                                    <li>
                                        <a href="#">دوربین‌ چاپ سریع</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">لوازم جانبی دوربین</a>
                                <ul>
                                    <li>
                                        <a href="#">لنز</a>
                                    </li>
                                    <li>
                                        <a href="#">کیف</a>
                                    </li>
                                    <li>
                                        <a href="#">کارت حافظه</a>
                                    </li>
                                    <li>
                                        <a href="#">کاغذ چاپ عکس</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has-children">
                        <a href="#">مد و پوشاک</a>
                        <ul>
                            <li>گوشی موبایل</li>
                        </ul>
                    </li>
                    <li class="has-children">
                        <a href="#">زیبایی و سلامت</a>
                        <ul>
                            <li class="has-children">
                                <a href="#">لوازم جانبی گوشی</a>
                                <ul>
                                    <li>
                                        <a href="#">کیف و کاور گوشی</a>
                                    </li>
                                    <li>
                                        <a href="#">پاور بانک (شارژر همراه)</a>
                                    </li>
                                    <li>
                                        <a href="#">پایه نگهدارنده گوشی</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">گوشی موبایل</a>
                                <ul>
                                    <li>
                                        <a href="#">سامسونگ</a>
                                    </li>
                                    <li>
                                        <a href="#">هوآوی</a>
                                    </li>
                                    <li>
                                        <a href="#">اپل</a>
                                    </li>
                                    <li>
                                        <a href="#">شیائومی</a>
                                    </li>
                                    <li>
                                        <a href="#">آنر</a>
                                    </li>
                                    <li>
                                        <a href="#">نوکیا</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">هدفون، هدست، هندزفری</a>
                            </li>
                            <li>
                                <a href="#">اسپیکر بلوتوث و با سیم</a>
                            </li>
                            <li class="has-children">
                                <a href="#">دوربین</a>
                                <ul>
                                    <li>
                                        <a href="#">دوربین عکاسی دیجیتال</a>
                                    </li>
                                    <li>
                                        <a href="#">دوربین‌ ورزشی و فیلم برداری</a>
                                    </li>
                                    <li>
                                        <a href="#">دوربین‌ چاپ سریع</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">لوازم جانبی دوربین</a>
                                <ul>
                                    <li>
                                        <a href="#">لنز</a>
                                    </li>
                                    <li>
                                        <a href="#">کیف</a>
                                    </li>
                                    <li>
                                        <a href="#">کارت حافظه</a>
                                    </li>
                                    <li>
                                        <a href="#">کاغذ چاپ عکس</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has-children">
                        <a href="#">خانه و آشپزخانه</a>
                        <ul>
                            <li class="has-children">
                                <a href="#">لوازم جانبی گوشی</a>
                                <ul>
                                    <li>
                                        <a href="#">کیف و کاور گوشی</a>
                                    </li>
                                    <li>
                                        <a href="#">پاور بانک (شارژر همراه)</a>
                                    </li>
                                    <li>
                                        <a href="#">پایه نگهدارنده گوشی</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">گوشی موبایل</a>
                                <ul>
                                    <li>
                                        <a href="#">سامسونگ</a>
                                    </li>
                                    <li>
                                        <a href="#">هوآوی</a>
                                    </li>
                                    <li>
                                        <a href="#">اپل</a>
                                    </li>
                                    <li>
                                        <a href="#">شیائومی</a>
                                    </li>
                                    <li>
                                        <a href="#">آنر</a>
                                    </li>
                                    <li>
                                        <a href="#">نوکیا</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">هدفون، هدست، هندزفری</a>
                            </li>
                            <li>
                                <a href="#">اسپیکر بلوتوث و با سیم</a>
                            </li>
                            <li class="has-children">
                                <a href="#">دوربین</a>
                                <ul>
                                    <li>
                                        <a href="#">دوربین عکاسی دیجیتال</a>
                                    </li>
                                    <li>
                                        <a href="#">دوربین‌ ورزشی و فیلم برداری</a>
                                    </li>
                                    <li>
                                        <a href="#">دوربین‌ چاپ سریع</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">لوازم جانبی دوربین</a>
                                <ul>
                                    <li>
                                        <a href="#">لنز</a>
                                    </li>
                                    <li>
                                        <a href="#">کیف</a>
                                    </li>
                                    <li>
                                        <a href="#">کارت حافظه</a>
                                    </li>
                                    <li>
                                        <a href="#">کاغذ چاپ عکس</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has-children">
                        <a href="#">کتاب،لوازم تحریر و هنر</a>
                        <ul>
                            <li class="has-children">
                                <a href="#">لوازم جانبی گوشی</a>
                                <ul>
                                    <li>
                                        <a href="#">کیف و کاور گوشی</a>
                                    </li>
                                    <li>
                                        <a href="#">پاور بانک (شارژر همراه)</a>
                                    </li>
                                    <li>
                                        <a href="#">پایه نگهدارنده گوشی</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">گوشی موبایل</a>
                                <ul>
                                    <li>
                                        <a href="#">سامسونگ</a>
                                    </li>
                                    <li>
                                        <a href="#">هوآوی</a>
                                    </li>
                                    <li>
                                        <a href="#">اپل</a>
                                    </li>
                                    <li>
                                        <a href="#">شیائومی</a>
                                    </li>
                                    <li>
                                        <a href="#">آنر</a>
                                    </li>
                                    <li>
                                        <a href="#">نوکیا</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">هدفون، هدست، هندزفری</a>
                            </li>
                            <li>
                                <a href="#">اسپیکر بلوتوث و با سیم</a>
                            </li>
                            <li class="has-children">
                                <a href="#">دوربین</a>
                                <ul>
                                    <li>
                                        <a href="#">دوربین عکاسی دیجیتال</a>
                                    </li>
                                    <li>
                                        <a href="#">دوربین‌ ورزشی و فیلم برداری</a>
                                    </li>
                                    <li>
                                        <a href="#">دوربین‌ چاپ سریع</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">لوازم جانبی دوربین</a>
                                <ul>
                                    <li>
                                        <a href="#">لنز</a>
                                    </li>
                                    <li>
                                        <a href="#">کیف</a>
                                    </li>
                                    <li>
                                        <a href="#">کارت حافظه</a>
                                    </li>
                                    <li>
                                        <a href="#">کاغذ چاپ عکس</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">اسباب بازی،کودک و نوزاد</a>
                    </li>
                    <li>
                        <a href="#">ورزش و سفر</a>
                    </li>
                    <li>
                        <a href="#">خوردنی و آشامیدنی</a>
                    </li>
                </ul>
            </div>
            <div class="overlay-side-navigation"></div>
        </div>
        <div class="site-logo">
            <a href="#">
                <img src="assets/img/svg/logo.svg" alt="logo">
            </a>
        </div>
        <div class="header-tools">
            <a href="#">
                <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.15" d="M3 10H21L19 20H5L3 10Z" fill="#000000" />
                    <path d="M3 10H21M3 10L5 20H19L21 10M3 10L9 4M21 10L15 4" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <span class="bag-items-number">2</span>
            </a>
        </div>
    </div>
    <div class="header-bottom">
        <div class="search-box">
            <form action="#">
                <input type="text" placeholder="نام محصول یا برند را جستجو کنید...">
                <i>
                    <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.1" d="M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" fill="#323232" />
                        <path d="M15 15L21 21" stroke="#323232" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="#323232" stroke-width="2" />
                    </svg>
                </i>
            </form>
            <div class="search-result">
                <ul class="search-result-list">
                    <li>
                        <a href="#">موبایل</a>
                    </li>
                    <li>
                        <a href="#">سامسونگ</a>
                    </li>
                    <li>
                        <a href="#">مودم</a>
                    </li>
                    <li>
                        <a href="#">اپل</a>
                    </li>
                    <li>
                        <a href="#">تلویزیون</a>
                    </li>
                </ul>
                <ul class="search-result-most-view">
                    <li>
                        <a href="#">موبایل</a>
                    </li>
                    <li>
                        <a href="#">سامسونگ</a>
                    </li>
                    <li>
                        <a href="#">مودم</a>
                    </li>
                    <li>
                        <a href="#">اپل</a>
                    </li>
                    <li>
                        <a href="#">تلویزیون</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-tools">
            <a href="#">
                <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle opacity="0.5" cx="12" cy="9" r="3" stroke="#1C274C" stroke-width="1.5" />
                    <circle cx="12" cy="12" r="10" stroke="#1C274C" stroke-width="1.5" />
                    <path opacity="0.5" d="M17.9691 20C17.81 17.1085 16.9247 15 11.9999 15C7.07521 15 6.18991 17.1085 6.03076 20" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" />
                </svg>
            </a>
        </div>
    </div>
</div>