<div class="page-loader">
    <div class="page-loader-content">
        <div class="logo-area">
            <img src="assets/img/svg/logo.svg" alt="">
        </div>
        <span class="loader"></span>
    </div>
</div>