@model Parnas.Domain.DTOs.ComputerMonitor.ComputerMonitorDetailDto
@{
    ViewData["Title"] = "ویرایش محصول";
}

<h2 style="margin:10px 40px 15px 0">ویرایش مانیتور کامپیوتر</h2>

<div class="box box-warning container">
    <div class="row">
        <form asp-area="Admin" asp-controller="ComputerMonitor" asp-action="UpdateMonitor" method="post" enctype="multipart/form-data">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-6">
                        <div class="box-header with-border">
                            <h3 class="box-title">اطلاعات کلی </h3>
                        </div>

                        <div class="box-body">
                            <!-- text input -->
                            <div class="form-group">
                                <label asp-for="Title">عنوان</label>
                                <input asp-for="Title" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Brand">برند</label>
                                <input asp-for="Brand" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="Brand" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Price">قیمت</label>
                                <input asp-for="Price" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Color">رنگ</label>
                                <input asp-for="Color" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="Color" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Dimensions">ابعاد</label>
                                <input asp-for="Dimensions" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="Dimensions" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Weight">وزن</label>
                                <input asp-for="Weight" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="Weight" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Count">تعداد</label>
                                <input asp-for="Count" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="Count" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Type">نوع</label>
                                <input asp-for="Type" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="Type" class="text-danger"></span>
                            </div>
                            <!-- select -->
                            <div class="form-group">
                                <label asp-for="CategoryId" for="CategoryId">انتخاب دسته بندی</label>
                                <select asp-for="CategoryId" name="CategoryId" class="form-control">
                                    <option value="1"> لوازم جانبی</option>
                                    <option value="2">سیستم های آماده</option>
                                    <option value="3">قطعات کامپیوتر</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="box-header with-border">
                            <h3 class="box-title">مشخصات مانیتور</h3>
                        </div>

                        <div class="box-body">
                            <!-- Monitor specific inputs -->
                            <div class="form-group">
                                <label asp-for="MonitorUserClass">کلاس کاربری مانیتور</label>
                                <input asp-for="MonitorUserClass" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="MonitorUserClass" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ScreenSize">اندازه صفحه‌نمایش</label>
                                <input asp-for="ScreenSize" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="ScreenSize" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="PannelType">نوع پنل</label>
                                <input asp-for="PannelType" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="PannelType" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="BackLight">نور پس‌زمینه</label>
                                <input asp-for="BackLight" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="BackLight" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="StatusContrast">کنتراست ثابت</label>
                                <input asp-for="StatusContrast" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="StatusContrast" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="DisplayAspectRatio">نسبت ابعاد نمایش</label>
                                <input asp-for="DisplayAspectRatio" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="DisplayAspectRatio" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ScreenResolution">وضوح تصویر</label>
                                <input asp-for="ScreenResolution" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="ScreenResolution" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ResponseTime">زمان پاسخ‌دهی</label>
                                <input asp-for="ResponseTime" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="ResponseTime" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="VisualAngle">زاویه دید</label>
                                <input asp-for="VisualAngle" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="VisualAngle" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="MonitorTechnology">تکنولوژی مانیتور</label>
                                <input asp-for="MonitorTechnology" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="MonitorTechnology" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="UpdateRate">نرخ به‌روزرسانی</label>
                                <input asp-for="UpdateRate" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="UpdateRate" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ImagePort">پورت‌های تصویری</label>
                                <input asp-for="ImagePort" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="ImagePort" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="HdmiImagePort">پورت HDMI</label>
                                <input asp-for="HdmiImagePort" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="HdmiImagePort" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="DisplayImagePort">پورت Display</label>
                                <input asp-for="DisplayImagePort" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="DisplayImagePort" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="UsbPort">پورت USB</label>
                                <input asp-for="UsbPort" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="UsbPort" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Speaker">بلندگو</label>
                                <input asp-for="Speaker" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="Speaker" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="VesaSupport">پشتیبانی از VESA</label>
                                <select asp-for="VesaSupport" class="form-control">
                                    <option value="True">دارد</option>
                                    <option value="False">ندارد</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label asp-for="RotationCapability">قابلیت چرخش</label>
                                <select asp-for="RotationCapability" class="form-control">
                                    <option value="True">دارد</option>
                                    <option value="False">ندارد</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label asp-for="PowerConsumption">مصرف برق</label>
                                <input asp-for="PowerConsumption" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="PowerConsumption" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="container">
                    <div class="form-group">
                        <label asp-for="Description">توضیحات </label>
                        <textarea asp-for="Description" class="form-control" placeholder=""></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div style="margin-top: 15px">
                        <img id="main-image" src="" style="width:350px;height:350px; border-radius:10px; display: none;" />
                    </div>
                    <div class="container-fluid" style="margin-top: 15px" id="image-gallery"></div>
                </div>
                <div class="text-center" style="margin-top:15px">
                    <button type="button" class="btn btn-success" id="add-images-btn">افزودن تصاویر</button>
                    <input asp-for="ImageList" type="file" id="file-input" multiple accept="image/*" style="display: none;">
                    <input type="submit" class="btn btn-primary" value="ارسال">
                </div>
            </div>
        </form>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#add-images-btn').on('click', function () {
                    $('#file-input').click();
                });

                $('#file-input').on('change', function () {
                    const files = this.files;

                    // اضافه کردن تصاویر جدید به گالری
                    for (let i = 0; i < files.length; i++) {
                        const file = files[i];
                        const reader = new FileReader();
                        reader.onload = (function (file) {
                            return function (e) {
                                // ایجاد عنصر جدید برای تصویر
                                const newImage = $('<img>', {
                                    class: 'gallery-image',
                                    src: e.target.result,
                                    style: 'width:70px;height:70px; border-radius:10px; margin: 5px;',
                                    'data-index': $('#image-gallery img').length // تنظیم ایندکس
                                });
                                $('#image-gallery').append(newImage);
                            };
                        })(file);
                        reader.readAsDataURL(file);
                    }
                });

                // برای تغییر تصویر بزرگ هنگام کلیک بر روی تصاویر گالری
                $(document).on('click', '.gallery-image', function () {
                    const src = $(this).attr('src');
                    $('#main-image').attr('src', src).show();
                });
            });
        </script>
    </div>
</div>
