@model Parnas.Domain.DTOs.Accessories.AccessoryAddDto
@{
    ViewData["Title"] = "افزودن لوازم جانبی";
}
<h2 style="margin:10px 40px 15px 0">افزودن لوازم جانبی</h2>

<div class="box box-warning container">
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-6">
                    <div class="box-header with-border">
                        <h3 class="box-title">اجزای کلی</h3>
                    </div>                    
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form asp-action="AddAccessory">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Brand</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>                           
                            <div class="form-group">
                                <label>Price</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Color</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Dimensions</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Weight</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Count</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>CreateDate</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>                                                     
                            
                            <!-- select -->
                            <div class="form-group">
                                <label>انتخاب دسته بندی</label>
                                <select class="form-control">
                                    <option> لوازم جانبی</option>
                                    <option>گزینه 2</option>
                                    <option>گزینه 3</option>
                                    <option>گزینه 4</option>
                                    <option>گزینه 5</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label> AntiGhosting </label>
                                <select class="form-control">
                                    <option> دارد</option>
                                    <option>ندارد </option>                                    
                                </select>
                            </div>



                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="col-md-6">
                    <div class="box-header with-border">
                        <h3 class="box-title"> </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form role="form">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Lighting</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>ConnectionPort</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>InterfaceType </label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Microphone</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Input </label>
                                <input type="text" class="form-control" placeholder="">
                            </div><div class="form-group">
                                <label>OutPut</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>UserType </label>
                                <input type="text" class="form-control" placeholder="">
                            </div>                          
                            <div class="form-group">
                                <label>Quality </label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Sensor </label>
                                <input type="text" class="form-control" placeholder="">
                            </div>                           
                            
                            <!-- select -->
                            <div class="form-group">
                                <label> نوع</label>
                                <select class="form-control">
                                    <option>گزینه 1</option>
                                    <option>گزینه 2</option>
                                    <option>گزینه 3</option>
                                    <option>گزینه 4</option>
                                    <option>گزینه 5</option>
                                </select>
                            </div>
                            
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="container">
                <div style="margin-top: 15px">
                    <img src="~/assets/img/products/p16.jpg" style="width:350px;height:350px; border-radius:10px" />
                </div>
                <div class="container-fluid" style="margin-top: 15px">
                    <img src="~/assets/img/products/p20.jpg" style="width:70px;height:70px; border-radius:10px" />
                    <img src="~/assets/img/products/p16.jpg" style="width:70px;height:70px; border-radius:10px" />
                    <img src="~/assets/img/products/p26.jpg" style="width:70px;height:70px; border-radius:10px" />
                    <img src="~/assets/img/products/p16.jpg" style="width:70px;height:70px; border-radius:10px" />
                </div>
            </div>
            <div class="text-center" style="margin-top:15px">
                <button type="button" class="btn btn-success" >افزودن تصاویر</button>
            </div>
        </div>
    </div>
</div>