@model Parnas.Domain.DTOs.Accessories.AccessoryDetailsDto

@{
    ViewData["Title"] = "ویرایش محصول";
}

<h2>ویرایش محصول</h2>

<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6"></div>
</div>


<div class="row">
    <div class="col-md-8">
  
        <form asp-action="UpdateAccessory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
            <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Brand" class="control-label"></label>
                        <input asp-for="Brand" class="form-control" />
                        <span asp-validation-for="Brand" class="text-danger"></span>
                    </div>
            </div>
           
       </div>
        <div class="row">
            <div class="col-md-6">
                 
                        <div class="form-group">
                            <label asp-for="Sensor" class="control-label"></label>
                            <input asp-for="Sensor" class="form-control" />
                            <span asp-validation-for="Sensor" class="text-danger"></span>
                        </div>
                    
            </div>
            <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
                </div>
        </div>
        <div class="row">
                <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            </div>
                <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            </div>
            </div>
            <div class="row">
                <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Dimensions" class="control-label"></label>
                <input asp-for="Dimensions" class="form-control" />
                <span asp-validation-for="Dimensions" class="text-danger"></span>
            </div>
            </div>
                <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            </div>
            </div>
            <div class="row">
                <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Count" class="control-label"></label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            </div>
                <div class="col-md-6">
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            </div>
            </div>
            <div class="row">
                <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            </div>
                <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Lighting" class="control-label"></label>
                <input asp-for="Lighting" class="form-control" />
                <span asp-validation-for="Lighting" class="text-danger"></span>
            </div>
            </div>
            </div>
            <div class="row">
                <div class="col-md-6">
            <div class="form-group">
                <label asp-for="ConnectionPort" class="control-label"></label>
                <input asp-for="ConnectionPort" class="form-control" />
                <span asp-validation-for="ConnectionPort" class="text-danger"></span>
            </div>
            </div>
                <div class="col-md-6">
            <div class="form-group">
                <label asp-for="InterfaceType" class="control-label"></label>
                <input asp-for="InterfaceType" class="form-control" />
                <span asp-validation-for="InterfaceType" class="text-danger"></span>
            </div>
            </div>
            </div>
            <div class="row">
                <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Microphone" class="control-label"></label>
                <input asp-for="Microphone" class="form-control" />
                <span asp-validation-for="Microphone" class="text-danger"></span>
            </div>
            </div>
                <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input" class="control-label"></label>
                <input asp-for="Input" class="form-control" />
                <span asp-validation-for="Input" class="text-danger"></span>
            </div>
            </div>
            </div>
            <div class="row">
                <div class="col-md-6">
            <div class="form-group">
                <label asp-for="OutPut" class="control-label"></label>
                <input asp-for="OutPut" class="form-control" />
                <span asp-validation-for="OutPut" class="text-danger"></span>
            </div>
            </div>
                <div class="col-md-6">
            <div class="form-group">
                <label asp-for="UserType" class="control-label"></label>
                <input asp-for="UserType" class="form-control" />
                <span asp-validation-for="UserType" class="text-danger"></span>
            </div>
            </div>
            </div>
            <div class="row">
                <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Quality" class="control-label"></label>
                <input asp-for="Quality" class="form-control" />
                <span asp-validation-for="Quality" class="text-danger"></span>
            </div>
            </div>
                <div class="col-md-6">
            <div class="form-group">
                <label asp-for="AntiGhosting" class="control-label"></label>
                <input asp-for="AntiGhosting" class="form-control" />
                <span asp-validation-for="AntiGhosting" class="text-danger"></span>
            </div>
            </div>
            </div>
           
            <div class="row">
            <div class="col-md-6">
            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-info" />
            </div>
            </div>
            <div class="col-md-6">
                <a asp-action="Index">بازگشت به لیست لوازم جانبی</a>

            </div>
            </div>
        </form>
    </div>
    <div class="col-md-4" style="width:350px;height:350px">
        <img src="~/assets/img/single-product/p23.jpg" style="width:300px;height:300px" />
        <br />
        <div class="row">
            <div class="col-md-2"></div>
            <img src="~/assets/img/single-product/p23.jpg" style="width:50px;height:50px" />
            <img src="~/assets/img/single-product/p23.jpg" style="width:50px;height:50px" />
            <img src="~/assets/img/single-product/p23.jpg" style="width:50px;height:50px" />
            <img src="~/assets/img/single-product/p23.jpg" style="width:50px;height:50px" />
        </div>
        <br />
        <div class="row">
            <div class="col-md-4"></div>
            <button class="btn btn-info">افزودن تصویر</button>
        </div>
    </div>

    </div>





